:root {
    --bg-1: hsl(31, 77%, 52%);
    --bg-2: hsl(184, 100%, 22%);
    --bg-3: hsl(179, 100%, 13%);
    --paragraphs: hsla(0, 0%, 100%, 0.75);
    --bg-headings-buttons: hsl(0, 0%, 95%);
    --fl:'Big Shoulders Display', cursive;
    --fbs:'Lexend Deca', sans-serif;
}

html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
}
 
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* min-height: 100vh; */
    background-color: hsla(0, 0%, 100%, 0.75);
}

main {
    max-width: 900px;
    height: 500px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 1fr;
    grid-template-areas:
    "first second third";
    border-radius: 10px;
    overflow: hidden;
   
}

.first {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-1);
    padding: 50px;
    color: var(--paragraphs);
    grid-area: first;
    grid-column: 1/ 1 span;
    grid-row: 1/ 1 span;
}

h1 {
    font-family: var(--fl);
    font-weight: 700;
    font-size: 40px;
}

p {
    line-height: 30px;
    margin-bottom: 40px;
}

p, button {
    font-family: var(--fbs);
}

.second {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-2);
    padding: 50px;
    color: var(--paragraphs);
    grid-area: second;
    grid-column: 2/ 1 span;
    grid-row: 1/ 1 span;
}

.third {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-3);
    padding: 50px;
    color: var(--paragraphs);
    grid-area: third;
    grid-column: 3/ 1 span;
    grid-row: 1/ 1 span;
}

img {
    width: 40%;
}

button {
    width: 230px;
    height: 43px;
    background-color: var(--bg-headings-buttons);
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.2) perspective(1px)
}

.first button {
    color: var(--bg-1);
}

.second button {
    color: var(--bg-2);
}

.third button {
    color: var(--bg-3);
}

.attribution { 
    font-size: 11px; text-align: center;
    color: black; 
}

.attribution a {
     color: hsl(0, 0%, 0%); 
     
}

@media screen and (max-width:1200px) {
    body {
        height: auto;
        align-items: center;
        justify-content: center;
    }

    main {
        height: auto;
        display: grid;
        width: 280px;
        height: 3fr;
        margin:20px 10px;
        grid-template-columns: 280px;
        grid-template-rows: 435px 435px 435px;
        grid-template-areas:
        "first"
        "second"
        "third";
        overflow: auto;
    }

    .first, .second, .third {
        padding: 35px;
        font-size: 13px;
    }

    button {
        width: 220px;
        height: 40px;
    }

    p {
        margin-top:-5px ;
        margin-bottom: 29px;
    }

    .first {
        grid-area: first;
        grid-column: 1/ 1 span;
        grid-row: 1/ 1 span;
    }

    .second {
        grid-area: second;
        grid-column: 1/ 1 span;
        grid-row: 2/ 1 span;
    }

    .third {
        grid-area: third;
        grid-column: 1/ 1 span;
        grid-row: 3/ 1 span;
    }
}